<p class="text-3xl font-bold underline">Hello World!</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
        <th>Co-Author</th>
    </tr>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
        <tr>
        <td><%= article.id %></td>
        <td><%= article.title%></td>
        <td><%= article.body%></td>
        <td><%= article.author_name%></td>
        <td><%= article.co_author_name%></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div>
<%= link_to "Click to add new", new_article_path %>
</div>