<p class="flex justify-center text-3xl font-light p-3">Articles</p>
<div class="overflow-y-auto max-h-[700px]">
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 ">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-5">ID</th>
        <th scope="col" class="px-6 py-5">Title</th>
        <th scope="col" class="px-6 py-5">Body</th>
        <th scope="col" class="px-6 py-5">Author</th>
        <th scope="col" class="px-6 py-5">Co-Author</th>
        <th scope="col" class="px-6 py-5">Edit</th>
        <th scope="col" class="px-6 py-5">Delete</th>
    </tr>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4"><%= article.id %></td>
            <td class="px-6 py-4"><%= article.title%></td>
             <td class="px-6 py-4"><%= article.body%></td>
            <td class="px-6 py-4"><%= article.author_name%></td>
            <td class="px-6 py-4"><%= article.co_author_name%></td>
            <td class="px-6 py-4"><%= link_to "Edit", edit_article_path(article) %></td>
            <td class="px-6 py-4" ><%= link_to "Destroy", article_path(article), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            } %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>

<div>
<%= link_to "Click to add new", new_article_path %>
</div>