<%= form_with url: articles_path do |form| %>
<p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :body %><br/>
    <%= form.text_area :body %>
</p>

<p>
    <%= form.label :author_name %><br/>
    <%= form.text_field :author_name %>
</p>

<p>
    <%= form.submit "Submit" %>
<% end %>

</form>

<div>
<%= link_to "Back to articles", articles_path%>
</div>