<h1>New Article</h1>
<%= render "form", article: @article %>
<!-- <%= form_with model: @article do |form| %>
<p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %><br/>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
</p>

<p>
    <%= form.label :body %><br/>
    <%= form.text_area :body %><br/>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
</p>

<p>
    <%= form.label :author_name %><br/>
    <%= form.text_field :author_name %><br/>
    <% @article.errors.full_messages_for(:author_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
</p>

<p>
    <%= form.label :co_author_name %><br/>
    <%= form.text_area :co_author_name %><br/>
    <% @article.errors.full_messages_for(:co_author_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
</p>

<p>
    <%= form.submit "Submit" %>
</p>
<% end %>

</form>

<div>
<%= link_to "Back to articles", articles_path%>
</div> -->