<%= form_with url: '/articles' do |form| %>
<p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :body %><br/>
    <%= form.text_area :body %>
</p>

<p>
    <%= form.submit "Submit" %>
<% end %>

</form>